
VertMarkets/VertMarkets/obj/Debug/netcoreapp2.2/VertMarkets.AssemblyInfo.cs
VertMarkets/VertMarkets/obj/Debug/netcoreapp2.2/VertMarkets.AssemblyInfoInputs.cache
VertMarkets/VertMarkets/obj/Debug/netcoreapp2.2/VertMarkets.assets.cache
VertMarkets/VertMarkets/obj/Debug/netcoreapp2.2/VertMarkets.csproj.CoreCompileInputs.cache
VertMarkets/VertMarkets/obj/Debug/netcoreapp2.2/VertMarkets.csproj.FileListAbsolute.txt
VertMarkets/VertMarkets/obj/Debug/netcoreapp2.2/VertMarkets.dll
VertMarkets/VertMarkets/obj/Debug/netcoreapp2.2/VertMarkets.pdb
VertMarkets/VertMarkets/obj/Debug/netcoreapp3.0/VertMarkets.AssemblyInfo.cs
VertMarkets/VertMarkets/obj/Debug/netcoreapp3.0/VertMarkets.AssemblyInfoInputs.cache
VertMarkets/VertMarkets/obj/Debug/netcoreapp3.0/VertMarkets.assets.cache
VertMarkets/VertMarkets/obj/Debug/netcoreapp3.0/VertMarkets.csproj.CoreCompileInputs.cache
VertMarkets/VertMarkets/obj/Debug/netcoreapp3.0/VertMarkets.csprojAssemblyReference.cache
VertMarkets/VertMarkets/obj/project.assets.json
VertMarkets/VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.AssemblyInfo.cs
VertMarkets/VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.AssemblyInfoInputs.cache
VertMarkets/VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.assets.cache
VertMarkets/VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.csproj.CoreCompileInputs.cache
VertMarkets/VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.csproj.FileListAbsolute.txt
VertMarkets/VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.dll
VertMarkets/VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.pdb
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.AssemblyInfo.cs
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.AssemblyInfoInputs.cache
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.assets.cache
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.csproj.CopyComplete
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.csproj.CoreCompileInputs.cache
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.csproj.FileListAbsolute.txt
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.csprojAssemblyReference.cache
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.dll
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.exe
VertMarkets/VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.pdb
VertMarkets/VertMarkets/obj/VertMarkets.csproj.nuget.cache
VertMarkets/VertMarkets/obj/VertMarkets.csproj.nuget.dgspec.json
VertMarkets/VertMarkets/obj/VertMarkets.csproj.nuget.g.props
VertMarkets/VertMarkets/obj/VertMarkets.csproj.nuget.g.targets
VertMarkets/.vscode/launch.json
VertMarkets/.vscode/tasks.json
VertMarkets/obj/project.assets.json
VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.AssemblyInfo.cs
VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.AssemblyInfoInputs.cache
VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.assets.cache
VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.csproj.CoreCompileInputs.cache
VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.csproj.FileListAbsolute.txt
VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.dll
VertMarkets/obj/Release/netcoreapp2.2/VertMarkets.pdb
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.AssemblyInfo.cs
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.AssemblyInfoInputs.cache
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.assets.cache
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.csproj.CopyComplete
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.csproj.CoreCompileInputs.cache
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.csproj.FileListAbsolute.txt
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.csprojAssemblyReference.cache
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.dll
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.exe
VertMarkets/obj/Release/netcoreapp3.0/VertMarkets.pdb
VertMarkets/obj/VertMarkets.csproj.nuget.cache
VertMarkets/obj/VertMarkets.csproj.nuget.dgspec.json
VertMarkets/obj/VertMarkets.csproj.nuget.g.props
VertMarkets/obj/VertMarkets.csproj.nuget.g.targets
